preset.publisher/publish.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="publish">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="id"/>
        <xs:element type="xs:string" name="name"/>
        <xs:element type="xs:string" name="xml"/>
        <xs:element type="xs:string" name="xsl"/>
        <xs:element type="xs:string" name="output"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
